
.footer {
  height: 252px;
  background: #2f303a;
}
.footer-nav {
  display: flex;
  align-items: baseline;
  padding-top: 60px;
  padding-bottom: 60px;
 }

.footer-wrapper {
  margin-right: 69px;
 }
 
.footer-logo {
  margin-bottom: 20px;
  
 }

.address-item:not(:last-child) {
  margin-bottom: 9px;
}
.address-item-kiev {
  height: 21px;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $text-fon;
}
.footer-address-mail,
.footer-address-tel {
  color: $text-dark-theme-color;
}
.join,
.aside {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $text-fon;
}
.join{
margin-bottom: 20px;
}

.footer-form-email {
  width: 358px;
  height: 50px;
  margin-top: 20px;
  margin-right: 12px;
  padding-left: 16px;
  font-size: 16px;
  line-height: 20px;
  background-color: #2f303a;
  color: $text-fon;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.button-icon-cmc {
  min-width: 200px;
  height: 50px;
  display: inline-flex;
  align-items: center;
  text-align: center;
  border: 1px solid transparent;
  padding: 10px 32px;
  border-radius: 4px;
  background-color: $accent-color;
  color: $text-fon;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  text-transform: none;

&::after {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  margin-left: 7.5px;
  background-color: $accent-color;
  background-image: url("../images/iconcmc.svg");
 }
}
