

/*.navigation {
  display: flex;
  align-items: center;
}
.navigation-list {
  display: flex;
  margin-left: 85px;

&-item:not(:last-child) {
  margin-right: 50px;
 }
}

.navigation-list-link {
  position: relative;
  display: block;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-right: 0;
  color: $title-dark-color;
  transition: color 250ms $timing-function;

&.hidden::after {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  content: "";
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 4px;
  background-color: $accent-color;
  border-radius: 2px;
 }
}
.navigation-list-link,
.address-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.address-mail,
.address-tel {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $title-text-color;
  transition: color 250ms $timing-function, fill 250ms $timing-function;
  
 &:hover .address-icon {
  fill: $accent-color;
  }
}
.address-icon {
  margin-right: 13px;
  fill: $title-text-color;
  transition: fill 250ms $timing-function;
}
.navigation-list-link:hover,
.navigation-list-link:focus,
.address-mail:hover,
.address-mail:focus,
.address-tel:hover,
.address-tel:focus {
  color: $accent-color;
}
/*выравнивание адреса*/
/*.main-nav {
  display: flex;
  align-items: center;
}
.auth-nav {
  display: flex;
  margin: auto;
  
.address-list + .address-list {
  margin-left: 27.24px;
 }
}*/