$main-font: Roboto;
$logo-font: Raleway;
$title-dark-color: #212121;
$text-dark-theme-color: rgba(255, 255, 255, 0.6);
$title-text-color: #757575;
$logo-color: #000000;
$accent-color: #2196f3;
$text-fon: #ffffff;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
